.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #f2f2f2;
}

.logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.logo_place_header {
  width: 183px;
  height: 32px;
  background-image: url(../images/logo_place_header.svg);
  top: 30px;
  left: 64px;
  z-index: 2;
  position: absolute;
}

.header__title {
  max-width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 100;
  padding: 0;
  margin: 0 0 0 64px;
  color: black;
}

.header__subtitle {
  max-width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 100;
  padding: 0;
  margin: 0;
  color: black;
}

.header__link {
  white-space: nowrap;
  text-decoration: none;
  color: #2f80ed;
}

.header__link::after {
  content: "\2192";
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 30px;
  right: 0;
  z-index: 2;
  background-color: #2f80ed;
}

.description {
  display: flex;
  justify-content: center;
  padding: 100px 0;
  background-color: #fff;
}

.two-columns {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  padding: 0;
  margin: 0;
  color: #2f80ed;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph {
  padding: 0;
  margin: 0 0 30px 0;
  color: black;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-weight: bold;
}

.digits {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
  background-color: #fff;
}

.section-title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  padding: 0;
  margin: 0 auto 20px;
  color: black;
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin: 0 auto;
}

.table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  align-content: flex-end;
  flex-wrap: wrap;
  list-style-type: none;
  width: 1100px;
  z-index: 100;
  margin: auto;
  padding: 0;
}

.table__cell {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 250px;
  padding: 0;
  margin: 60px 0 0 0;
  list-style: none;
  color: black;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  padding: 0;
  margin: 0 0 20px 0;
  color: black;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 20px 0;
}

.table__text:last-of-type {
  margin-bottom: 0;
}

.feynman {
  min-height: 790px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: #f2f2f2;
}

.feynman__title {
  max-width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  z-index: 100;
  margin: 100px 0 70px 0;
  padding: 0;
  color: black;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  z-index: 100;
  padding: 0;
  margin: 0;
  color: black;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  white-space: nowrap;
  position: absolute;
  right: 48px;
  top: 50%;
  z-index: 100;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #2f80ed;
}

.feynman__link::after {
  content: "\2192";
  color: #2f80ed;
}

.feynman__photo {
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
  padding: 0;
  margin: 0;
  color: black;
}

.kaufman {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  padding: 90px 0;
  background-color: #1f1f1f;
}

.section__title_theme_dark {
  color: #fff;
}

.section__subtitle_theme_dark {
  color: #fff;
}

.table_theme-dark {
  color: #fff;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
}

.table__heading_theme_dark {
  color: #fff;
}

.table__text_theme_dark {
  color: #fff;
}

.kaufman__triangle {
  height: 877px;
  width: 877px;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 2;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/kaufman-triangle.svg);
}

.footer {
  display: flex;
  justify-content: stretch;
  flex-direction: row;
  min-height: 350px;
  background-color: #1f1f1f;
  padding: 60px 0 40px;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 auto;
}

.footer__column {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer__column_content-copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column_content-info {
  display: flex;
  flex-direction: column;
}

.footer__column_content-social {
  display: flex;
  flex-direction: column;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
  background-image: url(../images/logo_place_footer.svg);
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  color: #fff;
}

.footer__author::before {
  content: "\00A9";
}

.footer__column-heading {
  line-height: 25px;
  font-size: 18px;
  font-weight: bold;
  padding: 0;
  margin: 0 0 20px 0;
  color: #fff;
}

.footer__column-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 0 16px 0;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: #fff;
}

.footer__social-icon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
  margin: auto 10px auto 0;
}

.social-icon_facebook {
  background-image: url(../images/facebook_color_white.svg);
}

.social-icon_vk {
  background-image: url(../images/vk_color_white.svg);
}

.social-icon_instagram {
  background-image: url(../images/instagram_color_white.svg);
}
